@model AppTrucking.Models.Car

@{
    ViewBag.Title = "Видалити машину";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<h3>Дійсно хочете видилати машину??</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiftingCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiftingCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tonnage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tonnage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfTransportId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfTransportId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
