@model AppTrucking.Models.ReportViewModel
@{ 
    ViewBag.Title = "Звіт";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


@using (Html.BeginForm("ReportDriver", "Admin", FormMethod.Get))
{
    <div class="row">
        <h3>Звіт за певний період</h3>
        <br />
        <div class="col-md-3">
            З: @Html.TextBox("fromDate", string.Format("{0:dd MMM yyy}", DateTime.Now), new { @class = "datefield form-control", type = "date" })
        </div>
        <div class="col-md-3">
            До: @Html.TextBox("toDate", string.Format("{0:dd MMM yyy}", DateTime.Now), new { @class = "datefield form-control", type = "date" })
        </div>
       
        <div class="col-md-3">
            Водії
            @Html.DropDownList("DriverId", ViewBag.DriverId as SelectList, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <br />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
       
    </div>
    <br />
    <div class="row well">
        @if (Model != null)
        {
            <div class="col-md-4">
                <h4>Машина</h4> @Model.CarName
            </div>
            <div class="col-md-4">
                <h4>Водій</h4> @Model.FullName
            </div>
            <div class="col-md-4">
                <h4>Сумма заказыв(грн)</h4> @Model.Sum
            </div> 
            
        }
    </div>
}