@model IEnumerable<AppTrucking.Models.TypeOfTransport>

@{
    ViewBag.Title = "Список користувачив";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<p>
    @Html.ActionLink("Додати", "AddTypeTransport")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "EditTypeTransport", new { id=item.TypeOfTransportId }) |
            @Html.ActionLink("Видалити", "DeleteTypeTransport", new { id=item.TypeOfTransportId })
        </td>
    </tr>
}

</table>
