@model IEnumerable<AppTrucking.Models.ApplicationUser>
@{
    ViewBag.Title = "Список користувачив";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<p>
    @Html.ActionLink("Додати нового користувача", "Create")
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                Електронна адреса
            </th>

            <th>
                Компанія
            </th>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viber)
            </th>
            <th>
                Телефон
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Skype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "EditUser", new { id = item.Id }) |
                    @Html.ActionLink("Видалити", "DeleteUser", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>
