<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Панель управління </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="/Admin/Index">Панель управління</a></li>
                    <li><a href="/Home/Index">На сайт</a></li>
                </ul>
               
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Вихід", "LogOff", "Account")</li>
                <li><p class="navbar-text">@User.Identity.Name</p></li>
            </ul>
        </div>
    </nav>
    
    <div class="row" style="margin-top:70px;margin-right:70px;margin-left:10px;">
        <div class="col-md-2 well" style="min-height:890px;">
            <div class="list-group">
                @Html.ActionLink("Користувачі","UsersList","Admin", null,new { @class= "list-group-item" })
                @Html.ActionLink("Водії", "DriverList", "Admin", null, new { @class = "list-group-item" })
                @Html.ActionLink("Тип транспорту", "TypeTransportList", "Admin", null, new { @class = "list-group-item" })
                @Html.ActionLink("Список машин", "CarList", "Admin", null, new { @class = "list-group-item" })
                @Html.ActionLink("Послуги", "ServiceList", "Admin", null, new { @class = "list-group-item" })
                @*@Html.ActionLink("Drivers", "DriverList", "Admin", null, new { @class = "list-group-item" })*@
            </div>
        </div>
        <div class="col-md-offset-1 col-md-9 well">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
