<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hermes-trans</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">
        <div class="row img_logo">
            <div class="col-md-6">
                <a href="#">
                    <img src="http://www.sbtrack.in/files/2016/01/sbtracklogo1.png" alt="logo" />
                </a>
            </div>
            <div class="col-md-3 nav_phone_top">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"> <span class="nav_phone_text"> +(380)-666-272-221 </span> </span>
            </div>
            <div class="col-md-3 nav_phone_top">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"><span class="nav_phone_text"> +(380)-986-112-321</span></span>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-collapse bg-primary" data-spy="affix" data-offset-top="100">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Головна сторінка", "Index", "Home")</li>
            <li>@Html.ActionLink("Замовити перевезення", "Order", "Home")</li>
            <li>@Html.ActionLink("Список машин", "CarList", "Home")</li>
            <li>@Html.ActionLink("Додаткові послуги", "Services", "Home")</li>
            <li>@Html.ActionLink("Про нас", "About", "Home")</li>
            <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Панель управління", "Index", "Admin")</li>
                }
                <li>@Html.ActionLink("Ви: " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li>@Html.ActionLink("Вихід", "LogOff", "Account")</li>
            }
            else
            {
                <li>@Html.ActionLink("Реєстрація", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Вхід", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </nav>

    <div class="container body-content body_main profile_mainblock">
        <div class="row profile_body">
            <div class="col-md-3 profile_menu">
                <div class="list-group">
                    @Html.ActionLink("Редагувати профайл", "Index", "Account", routeValues: null, htmlAttributes: new { @class="list-group-item"})
                    @Html.ActionLink("Минулі замовлення", "MyOrders", "Manage", routeValues: null, htmlAttributes: new { @class = "list-group-item" })
                    @Html.ActionLink("Активні замовлення", "PastOrder", "Manage", routeValues: null, htmlAttributes: new { @class = "list-group-item" })
                </div>
            </div>
            <div class="col-md-9 profile_body">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="block_footer">
        <div class="row">
            <div class="col-md-4 footer_about">
                <h3>Hermes-trans</h3> Протягом 10 років працює на ринку міжнародних перевезень товарів народного споживання в Україні. За ці роки Hermes-trans надійно закріпилася і зайняла лідируючі позиції в цій сфері послуг.
            </div>
            <div class="col-md-4">
                <div class="row footer_info">
                    <div class="col-md-12">
                        <span>Інформація</span>
                        <ul>
                            <li><a href="#">&raquo; Головна сторінка</a></li>
                            <li><a href="/Home/Order">&raquo; Замовити перевезення</a></li>
                            <li><a href="/Home/CarList">&raquo; Список машин</a></li>
                            <li><a href="/Home/Services">&raquo; Додаткові послуги</a></li>
                            <li><a href="/Home/About">&raquo; Про нас</a></li>
                            <li><a href="/Home/Contact">&raquo; Контакти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row footer_kontakt">
                    <div class="col-md-12">
                        <span>Контакти</span>
                        <p class="footer_ktk_adr">
                            Україна, Харківьска область, Харків, вул. Ком. Уборевича, б. 28/64, оф. 205
                        </p>
                        <p>hermes_trans@gmail.com</p>
                        <p>+(380)-666-272-221</p>
                        <p>+(380)-986-112-321</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block_copy">
            <div class="col-md-6 block_copy_left">

            </div>
            <div class="col-md-6 block_copy_right">
                &copy; @DateTime.Now.Year -  All rights reserved.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
