@model IEnumerable<AppTrucking.Models.Car>

@{ 
    ViewBag.Title = "Список машин";
}

<br />
<br />
<div class="row">
    <div class="col-md-12 well">
        <div class="table-responsive">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LiftingCapacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BodyVolume)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tonnage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prce)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TypeOfTransport.Title)
                    </th>
                    <th>
                        @Html.DisplayName("Статус")
                    </th>
                    <th>
                        @Html.DisplayName("Номер машини")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LiftingCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BodyVolume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tonnage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prce)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeOfTransport.Title)
                        </td>
                        <td>
                            @if (item.IsFree == true)
                            {
                                <span>Вільна</span>
                            }
                            else
                            {
                                <span>Зайнята</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
